.container {
    display: flex;
    align-items: center;
}
.scrollable-container {
    max-height: 100vh; /* Максимальная высота, чтобы занимать весь экран */
    overflow-y: auto; /* Включает вертикальную прокрутку, если содержимое превышает высоту контейнера */
    padding: 30px; /* Добавляем немного внутреннего отступа */
    background-color: white;
  }
  /* Стилизация скроллбара */
.scrollable-container::-webkit-scrollbar {
  width: 15px; /* Ширина скроллбара */
  background-color: white; /* Цвет фона скроллбара */
}

/* Стилизация ползунка скроллбара */
.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #cbc9c9; /* Цвет ползунка скроллбара */
  border-radius: 5px; /* Скругление углов ползунка */
}



  .main-content {
    text-align: center;
    margin-bottom: 40px;
    font-size: 25px;
  }
  
  .additional-content {
    margin-bottom: 200px;
    text-align: left;
  
  }
  /* Дополнительное описание */
.additional-description {
  display: flex;
  justify-content: space-between;
}
.additional-container {
  display: flex; /* Отображение элементов в строку */
  align-items: flex-start; /* Выравнивание элементов по верхнему краю */
}


/* Стилизация текста и изображения в дополнительном описании */
.additional-text {
  position: relative;
  flex: 0 0 70%; /* Ширина текстового блока */
  margin-right: 150px; /* Добавляем немного отступа между текстом и фотографиями */
  
}

.additional-text img {
  max-width: 100%; /* Сделать изображение в дополнительном описании адаптивным */
}

.additional-photos {
  flex: 0 0 60%; /* Ширина блока с фотографиями */
}

.photo-with-text {
  position: relative; /* Относительное позиционирование для позиционирования текста */
  margin-bottom: 40px; /* Добавляем немного отступа между фотографиями */
}

.photo-with-text img {
  width: 80px; /* Ширина изображения */
  height: auto; /* Высота автоматически рассчитывается для сохранения пропорций */
}

.photo-with-text h2 {
  position: absolute; /* Абсолютное позиционирование для текста */
  top: 0; /* Положение текста по верхнему краю */
  right: -100%; /* Положение текста справа от фотографии (-100% означает сдвиг влево на ширину родительского элемента) */
  color: black; /* Цвет текста */
  font-size: 30px; /* Размер текста */
  padding: 5px 10px; /* Внутренние отступы для текста */
  z-index: 1; /* Поднять текст над изображением */
  margin-bottom: 5px; /* Отступ сверху для текста под фотографией */
}
.photo-with-text p {
  position: absolute; /* Абсолютное позиционирование для текста */
  top: 0; /* Положение текста по верхнему краю */
  right: -100%; /* Положение текста справа от фотографии (-100% означает сдвиг влево на ширину родительского элемента) */
  color: black; /* Цвет текста */
  font-size: 20px; /* Размер текста */
  padding: 5px 10px; /* Внутренние отступы для текста */
  margin-top: 40px; /* Отступ сверху для текста под фотографией */
}


.additional-text p3 {
  position: absolute; /* Абсолютное позиционирование для текста */
  top: 50%; /* Положение текста по вертикали в середине контейнера */
  left: 50%; /* Положение текста по горизонтали в середине контейнера */
  transform: translate(-50%, -50%); /* Центрирование текста относительно середины контейнера */
  color: white; /* Цвет текста */
  font-size: 23px; /* Размер текста */
  text-align: center; /* Выравнивание текста по центру */
  z-index: 1; /* Поднять текст над изображением */
  padding: 5px; /* Добавить внутренние отступы для текста */
  margin: -20px; /* Убрать внешние отступы, чтобы текст не выходил за границы контейнера */
}

.aktual-content img {
  width: 180%; /* Увеличиваем ширину изображения */
  height: auto; /* Поддерживаем пропорции */
  margin-left: 30%; /* Сдвигаем изображение вправо на 10% от ширины родительского контейнера */
}

.instruk-content img {
  width: 150%; /* Увеличиваем ширину изображения */
  height: auto;
  margin-left: 40%; /* Сдвигаем изображение вправо на 10% от ширины родительского контейнера */
}